<Plugin
    DescriptorVersion="1.0"
    Name="Inputmanager"
    PluginId="{359A4AA5-B25F-4961-896B-C1323AF4A4A4}"
    Author="FreakyJ"
    Copyright="GPL"
    AutoActivate="true"
    Description="Control your MP2 by any HID">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2013-11-11 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <DependsOn>
    <CoreDependency Name="MediaPortal.Common" CompatibleAPI="1" />
    <CoreDependency Name="MediaPortal.UI" CompatibleAPI="1" />
    <CoreDependency Name="MediaPortal.Utilities" CompatibleAPI="1" />
    <!-- SkinEngine -->
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}" CompatibleAPI="1"/>
    <!-- ConfigurationManager -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/>
    <!-- Configuration plugin -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/>
  </DependsOn>

  <Runtime>
    <Assembly FileName="InputdeviceManager.dll"/>
    <PluginStateTracker ClassName="MediaPortal.Plugins.InputdeviceManager.InputdeviceManager"/>
  </Runtime>

  <Register Location="/Resources/Language">
    <Resource Id="InputdeviceManagerLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location="/Models">
    <Model Id="CC11183C-01A9-4F96-AF90-FAA046981006" Name="ServerImporterWorkerSetupModel" ClassName="MediaPortal.Plugins.InputdeviceManager.Models.ConfigScreen"/>
  </Register>

  <Register Location="/Resources/Skin">
    <Resource Id="InputmanagerSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <Register Location="/Workflow/States">
    <WorkflowState Id="CB09DF01-65FA-4550-977C-B685C237ED3D"
        Name="InputdeviceManagerConfigScreen"
        MainScreen="ConfigScreen"
        DisplayLabel="InputDevices"
        WorkflowModel="CC11183C-01A9-4F96-AF90-FAA046981006"/>
    <!--<WorkflowState Id="6ABF367E-346B-459F-B5A6-B61A1E285A64"
        Name="changingInputsMain" MainScreen="ConfigScreenKeyMapping"
        DisplayLabel="changingInputsMain"/>
    <WorkflowState Id="9907E2BF-CCE9-4CF7-9F4D-807F14A5DF47"
        Name="AddKey" MainScreen="ConfigScreenAddKey"
        DisplayLabel="ConfigScreenAddKey"/>
    <WorkflowState Id="FD7FEDE0-9268-41AE-AD0A-CC8066A41ED9"
        Name="AddAction" MainScreen="ConfigScreenAddAction"
        DisplayLabel="ConfigScreenAddAction"/>-->
  </Register>

  <Register Location="/Configuration/Settings">
    <ConfigSection
        Id="InputDevices"
        Redundant="true"
        Text="[Settings.InputDeviceManager.Section]"/>
  </Register>

  <Register Location="/Configuration/Settings/InputDevices">
    <CustomConfigSetting
        Id="InputDevicesConf"
        Text="[Settings.InputDeviceManager.EnterConfig]"
        HelpText="[Settings.InputDeviceManager.EnterConfigHelp]"
        ClassName="MediaPortal.Plugins.InputdeviceManager.Settings.ConfigScreen"
        AdditionalData="WorkflowState=CB09DF01-65FA-4550-977C-B685C237ED3D,ConfAppPanel=..."/>
  </Register>
</Plugin>